Handson_list1/Handson_list1/File_mgmt/temp/.DS_Store
Handson_list1/Handson_list1/File_mgmt/temp/dup_test.txt
Handson_list1/Handson_list1/File_mgmt/temp/hardlink_file
Handson_list1/File_mgmt/temp/p7_copy.c
Handson_list1/File_mgmt/temp/records.txt
Handson_list1/File_mgmt/temp/seek_file.txt
Handson_list1/File_mgmt/temp/seekfile.txt
Handson_list1/File_mgmt/temp/softlink_file
Handson_list1/File_mgmt/temp/temp_file
Handson_list1/File_mgmt/temp/ticket.txt
Handson_list1/Proc_mgmt/p22_from_p26
Handson_list1/Proc_mgmt/a.out
Handson_list1/Proc_mgmt/loop
Handson_list1/Proc_mgmt/temp/fork_test.txt
Handson_list1/Proc_mgmt/temp/pc_test.txt
Handson_list1/Proc_mgmt/temp/testfile.txt
Handson_list1/File_mgmt/a.out
Handson_list2/20b
Handson_list2/20a
